{% extends '__Layout.html' %}
{% block  content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">
                    <i class="fas fa-briefcase"></i> Lista de Trabajadores
                </h2><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'create_trabajador' %}" class="btn btn-info pull-right">
                    <i class="fas fa-plus"></i> Nuevo Trabajador
                </a>
            </div>
        </div><br/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-hover">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Nacionalidad</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for trabajador in  trabajadores %}
                            <tr>
                            <td>{{ trabajador.pk }}</td>
                            <td>{{ trabajador.nombres }}</td>
                            <td>{{ trabajador.apellidos }}</td>
                            <td>{{ trabajador.dni }}</td>
                            <td>{{ trabajador.nacionalidad }}</td>
                            <td>{{ trabajador.fechaNacimiento }}</td>
                            <td>
                                <a href="{% url 'update_trabajador' trabajador.id %}" class="btn btn-warning">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <form method="post" action="{% url 'delete_trabajador' trabajador.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Estás seguro de eliminar este registro?')">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </button>
                                </form>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock  %}