{% extends '__Layout.html' %}
{% block content %}
    <div class="container" style="border:solid 2px #7C7F86; border-radius:4px ;margin:20px; padding:20px;">
        <div class="row">
            <div class="col-sm-12">
                {% if trabajador %}
                    <h2><i class="fas fa-user-tie"></i> Detalle Trabajador </h2><hr>
                {% else %}
                    <h2><i class="fas fa-user-tie"></i> Nuevo Trabajador </h2><hr>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                    <a class="btn btn-warning" href="{% url 'list_trabajadores' %}">
                        <i class="fas fa-reply"></i> Regresar
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}